# Ignore Windows system files
*.log
*.tmp
*.ini
.DS_Store
Thumbs.db


# Allow your project directory
!/backend/

# Ignore Python cache files
__pycache__/
*.pyc
venv/

# Ignore VS Code settings
.vscode/

#Ignore environment variables
.env

# Allow test_connection.py
!test_connection.py
